[Unit]
Description=Erlang Port Mapper Daemon
After=network.target

[Service]
User=erlpmd
Group=erlpmd
StandardOutput=journal
StandardError=journal
WorkingDirectory=/var/empty
DeviceAllow=/dev/null rw
PrivateTmp=true
NoNewPrivileges=true
Restart=always
LimitNPROC=4
LimitFSIZE=0
ExecStart=/usr/bin/erl -s erlpmd_ctl -smp disable -noshell -noinput -relaxed_command_check
# FIXME add generic erlpmd helpers foir that instead of using epmd as a cli
ExecStop=/usr/bin/epmd -kill

[Install]
WantedBy=multi-user.target
Alias=epmd.service
