[Unit]
Description=Ensure that EPMD service is ready
After=epmd.service
Requires=epmd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash /usr/bin/erlpmd-settle.sh

[Install]
WantedBy=epmd.target
Alias=epmd-settle.service
